################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SecureString
/SecureString/bin/Debug
/SecureString/obj
